<main class="main--grid">
  <div class="channel--grid">
    <div class="boxes box1">
      Header
      <h1><%= currentChannel.name %> Channel</h1>
    </div>

    <!-- Posts sorted by tag will display here -->
    <div class="boxes box2">Post Sidebar</div>

    <!-- This will display the other channels  -->
    <div class="boxes box3">
      <li class="channel-sidebar">Channel Sidebar</li>
      <ul>
        <a href="/channel/<%= currentUser._id %>/main">Main</a>
        <% currentUser.interests.forEach(interest => { %> <%
        interest.name.forEach(item => { %> <% if(currentChannel.name !== item){
        %>
        <li>
          <a href="/channel/<%= currentUser._id %>/<%= item %>"><%= item %></a>
        </li>
        <% } %> <% }) %> <% }) %>
      </ul>
    </div>

    // This will display the posts
    <div class="boxes box4">
      Main
      <ul>
        <% currentChannel.post.forEach(post => { %>
        <li>
          Author: <%= post.author.username %> <br />
          Comment: <%= post.text %> <br />
          Tag: <%= post.tag %> <br />
          Date: <%= date %> <br />
          <% if(currentUser && post.author.id.equals(currentUser._id)) { %>
          <button>
            <a
              href="/channel/<%= currentUser._id %>/<%= currentChannel.name %>/<%= post.id %>/edit"
              >Edit</a
            >
          </button>
          <form
            action="/channel/<%= currentUser._id %>/<%= currentChannel.name %>/<%= post.id %>?_method=DELETE"
            method="POST"
          >
            <button type="submit">Delete</button>
          </form>
          <% } %>
          <button>
            <a
              href="/channel/<%= currentUser._id %>/<%= currentChannel.name %>/<%= post.id %>/reply"
              >Reply</a
            >
          </button>
        </li>
        <% }) %>
      </ul>
    </div>

    <!-- You can write a post here -->
    <div class="boxes box5">
      Make a Post
      <form
        action="/channel/<%= currentUser._id %>/<%= currentChannel.name %>"
        method="POST"
      >
        <input type="text" name="text" placeholder="text" /> <br />
        <select name="tag">
          <% currentChannel.tag.forEach(tag => { %>
          <option value="<%= tag %>"><%= tag %></option>
          <% }) %>
        </select>
        <br />
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</main>


