
  



<main class="main--grid">
    <div class="channel--grid">
        <div class="boxes box1">Header
        <div>
          <h3>this is the <%= currentChannel.name %></h3>
            <% currentChannel.tag.forEach(tag => { %>
                <button><%= tag %></button>
            <% }) %>
        </div>
    </div>
        <div class="boxes box2">Post Sidebar</div>
        
        <!-- Where all other channels will be displayed -->
        <div class="boxes box3">Channel Sidebar
            
            <ul>
                <li><a href="/channel/<%= currentUser._id %>/main">Main</a></li>
                <% currentUser.interests.forEach(interest => { %>
                    <% interest.name.forEach(item => { %>
                        <% if(currentChannel.name !== item){ %>
                            <li>
                                <a href="/channel/<%= currentUser._id %>/<%= item %>"><%= item %></a>
                            </li>
                        <% } %> 
                    <% }) %>
                <% }) %>
            </ul>
        </div>

        <!-- Where the posts will be displayed -->
        <div class="boxes box4">Main
            <ul>
                <% currentChannel.post.forEach(post => { %>
                    <li>
                        Author: <%= post.author.username %> <br>
                        Comment: <%= post.text %> <br>
                        Tag: <%= post.tag %> <br>
                        Date: <%= date %> <br>
                        <% if(currentUser && post.author.id === currentUser.id) { %>
                            <button><a href="/channel/<%= currentUser._id %>/<%= currentChannel.name %>/<%= post.id %>/edit">Edit</a></button>
                            <form action="/channel/<%= currentUser._id %>/<%= currentChannel.name %>/<%= post.id %>?_method=DELETE" method="POST">
                                <button type="submit">Delete</button>
                            </form>
                        <% } %> 
                    </li>
                <% }) %>
            </ul>
        </div>

        <!-- Where you can write a post -->
        <div class="boxes box5">Make a Post
            <form action="/channel/<%= currentUser._id %>/<%= currentChannel.name %>" method="POST">
                <input type="text" name="text" placeholder="text"> <br>
                <select name="tag">
                    <% currentChannel.tag.forEach(tag => { %>
                            <option value="<%= tag %>"><%= tag %></option>
                    <% }) %>
                </select> <br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</main>













   

    <a href="/channel/<%= currentUser._id %>/main ">Back to main channel</a>
