<main class="main--grid">
  <section class="channel__interests--section">
    <h1>#channel_interests</h1>

    <form
      action="/channel/<%= currentUser._id %>"
      id="interest_form"
      method="POST"
    >
      <% interests.forEach(interest => { %>
      <label
        ><input
          type="checkbox"
          id="<%= interest.name %>"
          name="<%= interest.name %>"
          value="<%= interest.name %>"
        /><%= interest.name %></label
      >
      <br />
      <% }) %>
      <button type="submit">Submit</button>
    </form>
  </section>
</main>
