<main class="interests__main main--grid">
  <section class="channel__interests--section">
    <h1 class="interests--h1">Please select your top 3 interests</h1>
    <form action="/channel/<%= currentUser._id %> " method="POST">
      <% interests.forEach(interest => { %>
        <label 
        ><input class="checkbox"
        type="checkbox"
        id="<%= interest.name %>"
        name="<%= interest.name %>"
        value="<%= interest.name %>"
        /><span class="interests--span"><%= interest.name %></span>
      </label>
      <br />
      <% }) %>
      <button class="button" id="interests--btn" type="submit">Submit</button>
    </form>
  </section>
</main>
