<main class="main--grid-channels">
  <div class="channel--grid">
    <div class="boxes box1">
      <h1>#Main</h1>
      <div class="search-bar">
        <i class="fal fa-file-search logo"></i>
        <input
          class="input-search"
          type="search"
          placeholder="Search..."
          class="input-field"
        />
      </div>
    </div>

    <div class="boxes box5">
      <div class="main-post-ctn">
        <form
          action="/channel/<%= currentUser._id %>/<%= currentChannel.name %>"
          method="POST"
        >
          <input type="text" name="text" class="post" placeholder="post" />
          <button class="post-btn" type="submit">Send</button>
        </form>
      </div>
    </div>

    <%- include("../partials/box2.ejs") %>

    <!-- This will display the other channels  -->
    <div class="boxes box3">
      <div class="channels-title">Channels</div>
      <ul>
        <% currentUser.interests.forEach(interest => { %> <%
        interest.name.forEach(item => { %>
        <li>
          <a href="/channel/<%= currentUser._id %>/<%= item %>"><%= item %></a>
        </li>
        <% }) %> <% }) %>
      </ul>
    </div>

    <!-- This will display the posts -->
    <%- include("../partials/box4.ejs") %>

    <!-- You can write a post here -->
  </div>
</main>
