<main class="main--grid-channels">
  <div class="channel--grid">
    <div class="boxes box1">
      <h1>#Main</h1>

      <div class="search-bar">
        <input
          class="input-search"
          type="search"
          placeholder="ðŸ” Search..."
          class="input-field"
        />
      </div>
    </div>

    <div class="boxes box5">
      <div class="main-post-ctn">
        <form
          action="/channel/<%= currentUser._id %>/<%= currentChannel.name %>"
          method="POST"
        >
          <input type="text" name="text" class="post" placeholder="ðŸ“" />
          <button class="post-btn" type="submit">Send</button>
        </form>
      </div>
    </div>

    <%- include("../partials/sortedPosts.ejs") %>

    <!-- This will display the other channels  -->
    <div class="boxes box3">
      <div class="posts-flex-ctn">
        <div id="ct1" class="channels-title">#Chatroom</div>
        <div>
          <a class="flex-item" href="/chat"> #LiveChat ðŸ’¬ </a>
        </div>
        <br />
        <div id="ct2" class="channels-title">#Channels</div>
        <ul>
          <% currentUser.interests.forEach(interest => { %> <%
          interest.name.forEach(item => { %>
          <li>
            <a href="/channel/<%= currentUser._id %>/<%= item %>"
              >#<%= item %></a
            >
          </li>
          <% }) %> <% }) %>
        </ul>
      </div>
    </div>

    <!-- This will display the posts -->
    <%- include("../partials/mainPosts.ejs") %>
  </div>
</main>
