<div class="main--grid">
  <div class="edit-ctn">
    <h1>Reply</h1>
    <br />
    <div>
      <%= post.author.username %> <%= post.text %> <%= post.tag %>
    </div>
    <br />
    <form
      action="/channel/<%= currentUser._id %> /<%= currentChannel.name %>/<%= post.id %>/reply  "
      method="POST"
    >
      <input type="text" name="reply" placeholder="reply" />
      <button class="btn-reply" type="submit">Submit</button>
    </form>
  </div>
</div>
